@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="fh5co-container">
	<div id="fh5co-home" class="js-fullheight" data-section="home">

		<div class="flexslider">

			<div class="fh5co-overlay"></div>
			<div class="fh5co-text">
				<div class="container">
					<div class="row">
						<h1 class="to-animate">Süleymanoğlu</h1>
						<h2 class="to-animate">Kebapçısı</h2>
					</div>
				</div>
			</div>
			<ul class="slides">
				<li style="background-image: url(/images/resim_1.png);" data-stellar-background-ratio="0.5"></li>
				<li style="background-image: url(/images/resim_2.png);" data-stellar-background-ratio="0.5"></li>
				<li style="background-image: url(/images/resim_3.jpg);" data-stellar-background-ratio="0.5"></li>
			</ul>

		</div>

	</div>

	<div class="js-sticky">
		<div class="fh5co-main-nav">
			<div class="container-fluid">
				<div class="fh5co-menu-1">
					<a href="#" data-nav-section="home">Ana Sayfa</a>
					<a href="#" data-nav-section="about">Hakkımızda</a>
					<a href="#" data-nav-section="features">Öne Çıkan</a>
				</div>
				<div class="fh5co-logo">
					<a href="#" data-nav-section="home">Süleymanoğlu</a>
				</div>
				<div class="fh5co-menu-2">
					<a href="#" data-nav-section="menu">Ürünler</a>
					<a href="#" data-nav-section="events">Menüler</a>
					<a href="#" data-nav-section="reservation">İletişim</a>
				</div>
			</div>

		</div>
	</div>

	<div id="fh5co-about" data-section="about">
		<div class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url(/images/Suleymanoglu-Kebapcisi-3.jpeg)"></div>
		<div class="fh5co-2col fh5co-text">
			<h2 class="heading to-animate">Hakkımızda</h2>
			<p class="to-animate"><span class="firstcharacter">L</span>ezzetin ve geleneksel damak tatlarının buluştuğu bir adres olan Süleymanoğlu Kebapçısı olarak, yıllardır siz değerli müşterilerimize en kaliteli pide ve kebap deneyimini sunmaktan gurur duyuyoruz. Köklü bir aile geleneğiyle 1990 yılından beri bu sektörde yer alıyoruz ve her bir lokmada geçmişten günümüze uzanan bir lezzet mirası sunuyoruz.</p>
			<p class="to-animate">
				Mutfak sanatlarında ustalaşmış şeflerimiz, en taze ve en doğal malzemelerle hazırlanan özenle seçilmiş menümüzü sizler için sunmaktadır. Her bir pide ve kebap ustaca hazırlanırken, müşteri memnuniyetini ve lezzeti ön planda tutuyoruz. Sadece yemek değil, aynı zamanda size özel bir deneyim sunmak için çalışıyoruz.
			</p>
		</div>
	</div>

	<div id="fh5co-sayings">
		<div class="container">
			<div class="row to-animate">

				<div class="flexslider">
					<ul class="slides">

						<li>
							<blockquote>
								<p>&ldquo;Pideniz beni gerçekten memnun etti. Hamurunun lezzeti ve iç malzemesinin doyuruculuğu harikaydı. Teşekkürler Süleymanoğlu Restoranı ekibi!&rdquo;</p>
								<p class="quote-author">&mdash; A*** Y***</p>
							</blockquote>
						</li>
						<li>
							<blockquote>
								<p>&ldquo;Süleymanoğlu Restoranı'nda yediğim kebap gerçekten muazzamdı! Taze malzemeler ve harika bir sunumla servis edildi. Kesinlikle tekrar geleceğim!&rdquo;</p>
								<p class="quote-author">&mdash; M**** L****</p>
							</blockquote>
						</li>
						<li>
							<blockquote>
								<p>&ldquo;Burada yediğim en iyi kebapları burada buldum! Lezzet mükemmel, servis hızlıydı. Herkese tavsiye ederim!&rdquo;</p>
								<p class="quote-author">&mdash; K*** E****</p>
							</blockquote>
						</li>
						<li>
							<blockquote>
								<p>&ldquo;Süleymanoğlu Restoranı'nın pidesi bambaşka! İç malzemesi çok zengin ve lezzetliydi. Bu kaliteyi başka hiçbir yerde bulamadım.&rdquo;</p>
								<p class="quote-author">&mdash; H*** A****</p>
							</blockquote>
						</li>
						<li>
							<blockquote>
								<p>&ldquo;Harika bir deneyimdi! Hem yemekler çok lezzetliydi hem de çalışanlar çok ilgiliydi. Süleymanoğlu Restoranı'nı herkese gönül rahatlığıyla tavsiye ederim.&rdquo;</p>
								<p class="quote-author">&mdash; G**** G***</p>
							</blockquote>
						</li>

					</ul>
				</div>

			</div>
		</div>
	</div>

	<div id="fh5co-featured" data-section="features">
		<div class="container">
			<div class="row text-center fh5co-heading row-padded">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="heading to-animate">Öne Çıkan Lezzetler</h2>
					<p class="sub-heading to-animate">Misafirlerimize unutulmaz lezzetler sunmak için özenle seçilmiş bir menü sunuyoruz. Kebap çeşitlerimizde kullanılan taze baharatlar ve özel pişirme tekniklerimizle damaklarınızı şenlendiriyoruz. Ayrıca, pide çeşitlerimizde kullanılan enfes iç malzemeler ve ince hamur yapımızla lezzetin zirvesine çıkıyoruz.</p>
				</div>
			</div>
			<div class="row">
				<div class="fh5co-grid">
					<div class="fh5co-v-half to-animate-2">
						<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(/images/katmer.jpg)"></div>
						<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
							<h2>Fıstıklı Antep Katmer</h2>
							<span style="visibility:hidden" class="pricing">$7.50</span>
							<p style="visibility:hidden">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
					</div>
					<div class="fh5co-v-half">
						<div class="fh5co-h-row-2 to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(/images/adana.jpg)"></div>
							<div class="fh5co-v-col-2 fh5co-text arrow-left">
								<h2>Adana Kebap</h2>
								<span style="visibility:hidden" class="pricing">$12.00</span>
								<p style="visibility:hidden">Far far away, behind the word mountains.</p>
							</div>
						</div>
						<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(/images/kusbasili-pide.jpg)"></div>
							<div class="fh5co-v-col-2 fh5co-text arrow-right">
								<h2>Kuşbaşılı Pide</h2>
								<span style="visibility:hidden" class="pricing">$4.50</span>
								<p style="visibility:hidden">Far far away, behind the word mountains.</p>
							</div>
						</div>
					</div>

					<div class="fh5co-v-half">
						<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(/images/sac-tava.jpg)"></div>
							<div class="fh5co-v-col-2 fh5co-text arrow-right">
								<h2>Sac Tava</h2>
								<span style ="visibility:hidden" class="pricing">$4.99</span>
								<p style="visibility:hidden">Far far away, behind the word mountains.</p>
							</div>
						</div>
						<div class="fh5co-h-row-2 to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(/images/kuzu.jpg)"></div>
							<div class="fh5co-v-col-2 fh5co-text arrow-left">
								<h2>Kuzu Lokum</h2>
								<span style="visibility:hidden" class="pricing">$8.50</span>
								<p style="visibility:hidden">Far far away, behind the word mountains.</p>
							</div>
						</div>
					</div>
					<div class="fh5co-v-half to-animate-2">
						<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(/images/lahmacun.jpg)"></div>
						<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
							<h2>Lahmacun</h2>
							<span style="visibility:hidden" class="pricing">$12.99</span>
							<p style="visibility:hidden">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<div id="fh5co-type" style="background-image: url(images/slide_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="fh5co-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-3 to-animate">
					<div class="fh5co-type">
						<h3 class="with-icon icon-1">Pideler</h3>
						<p>Enfes iç malzemeleriyle lezzetin zirvesine çıkıyor. İnce hamurumuzun altında saklı olan geleneksel tatlar, her lokmada damaklarda unutulmaz bir iz bırakıyor. Kalite ve lezzet arayanlar için ideal bir seçenek olan pidelerimiz, sizleri bekliyor.</p>
					</div>
				</div>
				<div class="col-md-3 to-animate">
					<div class="fh5co-type">
						<h3 class="with-icon icon-2">Kebaplar</h3>
						<p>Özenle seçilmiş etlerle hazırlanan ve özel baharatlarla tatlandırılan lezzet harikalarıdır. Her bir ısırık, damaklarda unutulmaz bir tat bırakırken, mükemmel pişirme tekniğimiz ve özenli sunumumuz ile kebap deneyiminizi zirveye taşıyoruz.</p>
					</div>
				</div>
				<div class="col-md-3 to-animate">
					<div class="fh5co-type">
						<h3 class="with-icon icon-3">Kiremitler</h3>
						<p>İncecik doğranmış etler, özel baharatlar ve taze sebzelerle harmanlanır, ardından kiremit taşlarının üzerinde ateşte pişirilir. Bu özel pişirme yöntemi, ete eşsiz bir yumuşaklık ve aromatik tatlar kazandırır. Her bir ısırıkta, damaklarınızda dans eden lezzetler hissedersiniz. </p>
					</div>
				</div>
				<div class="col-md-3 to-animate">
					<div class="fh5co-type">
						<h3 class="with-icon icon-4">Tatlılar</h3>
						<p>Türk mutfağının geleneksel tatlarını en özel şekilde sunuyor. İncecik hamurların arasında eriyen peynir ve tatlının buluşmasıyla oluşan künefe, her ısırıkta lezzet şöleni yaşatırken, katmer ise enfes iç malzemeleriyle damakları şenlendiriyor.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-menus" data-section="menu">
		<div class="container">
			<div class="row text-center fh5co-heading row-padded">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="heading to-animate">Ürünler</h2>
				</div>
			</div>
			<div class="row row-padded">
				<div class="col-md-6">
					<div class="fh5co-food-menu to-animate-2">
						<h2 class="fh5co-kebab">Kebaplar</h2>
						<ul>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/adana.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Adana Kebap</h3>
										<p>Zırhlanmış et, közlenmiş biber, közlenmiş domates, sumaklı soğan, salata, ezme ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/urfa-kebap.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Urfa Kebap</h3>
										<p>Yeşillik, közlenmiş domates, biber, soğan, salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/beyti-kebap.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Beyti Kebap</h3>
										<p>Yeşillik, közlenmiş domates, biber, salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/patlican-kebap.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Patlıcan Kebap</h3>
										<p>Yeşillik, közlenmiş domates, biber, soğan, salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/Domatesli-Kebap.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Domates Kebap</h3>
										<p>Yeşillik, közlenmiş domates, biber, salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/yogurtlu-kebap.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Yoğurtlu Kebap</h3>
										<p>Yeşillik, közlenmiş domates, biber, salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="fh5co-food-menu to-animate-2">
						<h2 class="fh5co-meatball">Kiremitler</h2>
						<ul>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/Kiremitte-Kofte.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kiremitte Köfte</h3>
										<p>Salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/kiremitte-kusbasi.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kiremitte Kuşbaşı</h3>
										<p>Salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/kiremitte-kuzu.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kiremitte Kuzu</h3>
										<p>Salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/kiremitte-tavuk.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kiremitte Tavuk</h3>
										<p>Salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="fh5co-food-menu to-animate-2">
						<h2 class="fh5co-soup">Çorbalar</h2>
						<ul>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/corba.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Günün Çorbası</h3>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row row-padded">
				<div class="col-md-6">
					<div class="fh5co-food-menu to-animate-2">
						<h2 class="fh5co-dishes">Ana Yemekler</h2>
						<ul>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/alinazik-kıymadan.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Alinazik (Kıymadan)</h3>
										<p>Bulgur pilavı, yeşillik, közlenmiş domates, biber, salata, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/alinazik-kuzu.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Alinazik (Kuzu Şişten)</h3>
										<p>Bulgur pilavı, yeşillik, közlenmiş domates, biber, salata, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/kuzu-sis.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kuzu Şiş</h3>
										<p>Bulgur pilavı, yeşillik, közlenmiş domates, biber ve soğan, salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/tavuk-sis.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Tavuk Şiş</h3>
										<p>Közlenmiş domates, biber, soğan, salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/tavuk-kanat.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Tavuk Kanat</h3>
										<p>Közlenmiş domates, biber, soğan, salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="images/res_img_5.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kuzu Pirzola</h3>
										<p>4 kalem süt kuzu pirzola. Közlenmiş domates, biber, soğan, salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/kuzu-pirzola.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kuzu Kaburga</h3>
										<p>6 adet süt kuzu kaburga eti. Közlenmiş domates, biber, soğan, salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/kuzu-lokum.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kuzu Lokum</h3>
										<p>200 gr. süt kuzu sırt eti, lavaş ekmeği, sumaklı soğan, közlenmiş domates, közlenmiş biber</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/dana-antrikot.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Dana Antrikot</h3>
										<p>200 gr. süt dana antrikot eti, lavaş ekmeği, sumaklı, soğan, közlenmiş domates, közlenmiş biber</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/dana-biftek.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Dana Biftek</h3>
										<p>180 gr. süt dana biftek eti. Lavaş ekmeği, sumaklı soğan, közlenmiş biber, közlenmiş domates, salata, ezme, tarator ile</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="fh5co-food-menu to-animate-2">
						<h2 class="fh5co-pide">Pideler</h2>
						<ul>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/kiymali-pide.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kıymalı Pide (Kaşarlı veya Yumurtalı)</h3>
										<p>Salata, ezme, tarator ile.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/kusbasili-pide.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kuşbaşılı Pide (Kaşarlı veya Mantarlı)</h3>
										<p>Salata, ezme, tarator ile.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/kasarli-pide.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kaşarlı Pide (Sucuk veya Mantarlı)</h3>
										<p>Salata, ezme, tarator ile.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/karisik-pide.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Karışık Pide</h3>
										<p>Salata, ezme, tarator ile.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/kavurmalipide.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kavurmalı Pide</h3>
										<p>Salata, ezme, tarator ile.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/karadeniz-pidesi.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Kapalı Karadeniz Pide</h3>
										<p>Salata, ezme, tarator ile.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/tavuklu-pide.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Tavuklu Pide</h3>
										<p>Salata, ezme, tarator ile.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/lahmacun.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Lahmacun (Acılı veya Acısız)</h3>
										<p>Salata, ezme, tarator ile.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="fh5co-food-menu to-animate-2">
						<h2 class="fh5co-kunefe">Tatlılar</h2>
						<ul>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/künefe-tatlı.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Künefe</h3>
									</div>
								</div>
							</li>
							<li>
								<div class="fh5co-food-desc">
									<figure>
										<img src="/images/katmer-tatlı.jpg" class="img-responsive" alt="Free HTML5 Templates by FREEHTML5.co">
									</figure>
									<div>
										<h3>Fıstıklı Antep Katmer</h3>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>				
			
		</div>
	</div>

	<div id="fh5co-events" data-section="events" style="background-image: url(images/slide_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="fh5co-overlay"></div>
		<div class="container">
			<div class="row text-center fh5co-heading row-padded">
				<div class="col-md-8 col-md-offset-2 to-animate">
					<h2 class="heading">Öne Çıkan Menüler</h2>
					<p class="sub-heading">Damak zevkinizi keşfetmek için sizi muhteşem bir lezzet yolculuğuna çıkarıyoruz. Her biri özenle hazırlanmış, özgün tariflerimizle zenginleştirilmiş menülerimiz, tat almanın ötesinde bir deneyim sunuyor. Pide ve kebap çeşitlerimizle kendinizi şımartın ve sofralarımızda unutulmaz anılar biriktirin.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="fh5co-event to-animate-2">
						<h3>5'li Kebap Menü</h3>
						<p>1 Porsiyon Adana Kebap</p>
						<p>1 Porsiyon Kuzu Şiş</p>
						<p>1 Porsiyon Tavuk Şiş</p>
						<p>1 Porsiyon Tavuk Kanat</p>
						<p>1 Porsiyon Izgara Köfte</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="fh5co-event to-animate-2">
						<h3>Special Izgara</h3>
						<p>1 Porsiyon Kuzu Şiş</p>
						<p>1 Porsiyon Kuzu Lokum</p>
						<p>1 Porsiyon Kuzu Kaburga</p>
						<p>1 Porsiyon Dana Biftek</p>
						<p>1 Porsiyon Antrikot</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="fh5co-event to-animate-2">
						<h3>Karışık Kebap</h3>
						<p>90 GR Adana</p>
						<p>60 GR Tavuk Şiş</p>
						<p>60 GR Tavuk Kanat</p>
						<p>60 GR Kuzu Şiş</p>
						<p>70 GR Izgara Köfte</p>
						<p>Köz biber, Domates, Sumak, soğan ve yeşillik ile beraber.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="fh5co-event to-animate-2">
						<h3>Süleymanoğlu Special</h3>
						<p>90 GR Adana</p>
						<p>90 GR Patlıcan Kebap</p>
						<p>60 GR Kuzu Şiş</p>
						<p>60 GR Tavuk Kanat</p>
						<p>60 GR Tavuk Şiş</p>
						<p>70 GR Kalem Pirzola</p>
						<p>Fındık lahmacun, Köz biber, Domates, soğan ve yeşillik ile beraber.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-contact" data-section="reservation">
		<div class="container">
			<div class="row text-center fh5co-heading row-padded">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="heading to-animate">İletişim</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 to-animate-2">
					<h3>İletişim Bilgileri</h3>
					<ul class="fh5co-contact-info">
						<li class="fh5co-contact-address ">
							<i class="icon-home"></i>
							Bağlıca, Mermeroğlu Cd. no 26/A, 06560, <br>Etimesgut/Ankara
						</li>
						<li><i class="icon-phone"></i> (0312) 245 14 00</li>
						<li><i class="icon-phone"></i> (0530) 285 28 50</li>
						<li><i class="icon-envelope"></i>info@freehtml5.co</li>
						<li><i class="icon-globe"></i> <a href="https://www.yemeksepeti.com/restaurant/w1l9/suleymanoglu-kebapcisi-w1l9" target="_blank">Yemek Sepeti</a></li>
						<li><i class="icon-globe"></i> <a href="https://getir.com/yemek/restoran/suleymanoglu-kebapcisi-etimesgut-baglica-mah-etimesgut-ankara/" target="_blank">Getir</a></li>
					</ul>
				</div>
				<div class="col-md-6 to-animate-2">
					<h3>Rezervasyon</h3>
					<div class="form-group ">
						<label for="name" class="sr-only">İsim</label>
						<input id="name" class="form-control" placeholder="İsim" type="text">
					</div>
					<div class="form-group ">
						<label for="email" class="sr-only">Email</label>
						<input id="email" class="form-control" placeholder="Email" type="email">
					</div>
					<div class="form-group">
						<label for="occation" class="sr-only">Occation</label>
						<select class="form-control" id="occation">
							<option>Kişi Sayısı</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5+</option>
						</select>
					</div>
					<div class="form-group ">
						<label for="date" class="sr-only">Tarih</label>
						<input id="date" class="form-control" placeholder="Tarih &amp; Saat" type="text">
					</div>



					<div class="form-group ">
						<label for="message" class="sr-only">Mesaj</label>
						<textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Mesajınız"></textarea>
					</div>
					<div class="form-group">
						<input class="btn btn-primary" id="myModal" value="Gönder" type="button">
					</div>
					<!-- Modal -->
				
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script>
		$(document).ready(function () {
			// Modal butonuna tıklama olayını bağlayın
			$('#myModal').click(function () {
				Swal.fire({
					title: 'Rezervasyon Teyidi',
					text: 'Rezervasyonunuzun doğruluğunu teyit etmek için, lütfen (0530) 285 28 50 numaralı telefon ile bizimle iletişime geçin. İlginiz için teşekkür ederiz.',
					icon: 'info',
					confirmButtonText: 'Tamam'
				});
			});
		});
	</script>
}